.image-zoom-container {
  position: relative;
  width: 300px; /* Adjust the width as needed */
}

.main-image {
  width: 100%;
  overflow: hidden;
}

.main-image img {
  width: 100%;
  transition: transform 0.3s ease;
}

.zoom-image {
  position: absolute;
  top: 0;
  left: 100%;
  opacity: 0;
  width: 300px; /* Adjust the width as needed */
  height: 300px; /* Adjust the height as needed */
  border: 2px solid #ccc;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  transition: opacity 0.3s ease;
}

.image-zoom-container:hover .main-image img {
  transform: scale(1.2); /* Adjust the zoom factor as needed */
}

.image-zoom-container:hover .zoom-image {
  opacity: 1;
}
